@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Oswald';
  /*font-family: fantasy;*/
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fafafa;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0a0a0a;
    transition: background-color 0.6s ease, transform 0.6s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0a0a0a; 
    transform: scale(1.05);
  }
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #0a0a0a transparent;
  }
}